.outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.board {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: grid;
    width: 500px;
    height: 500px;
}

.buttons {
    padding: 20px;
}


